body {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	background: url(../img/background.jpg) center top fixed;
	font-family: 'Indie Flower';
}
h1 {
	font-family: 'Indie Flower';
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
	margin: 10px 0px;
}

a {
	color: #FA5050;
	text-decoration: none;
}
a:hover {
	font-weight: bold;
	color: white;
}

nav {
	text-align: center;
}
nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.apple {
	text-align: center;
	margin: 0;
	padding: 0;
}

#box, .container {
	background-color: rgba(255, 255, 255, 0.7);
	border: 3px dotted crimson;
	border-radius: 10px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	font-size: 2em;
}
#box {
	padding: 100px 20px;
	width: 100%;
}
.container {
	width: 90%;
	padding: 20px;
}

#game_side, #score_side {
	display: inline-block;
	padding: 0px 20px;
	vertical-align: top;
}
#game_side {
	border-right: 1px solid #000000;
}

.center {
    text-align: center;
}

table { border-collapse: collapse; border-spacing: 0; }

#highscore {
    margin: 0 auto;
    font-size: 1.2em;
    margin-bottom: 15px;
}

#highscore thead {
    cursor: pointer;
    background: #c9dff0;
}
#highscore thead tr th {
    font-weight: bold;
    padding: 12px 30px;
    padding-left: 42px;
}
#highscore thead tr th span {
    padding-right: 20px;
    background-repeat: no-repeat;
    background-position: 100% 100%;
}

#highscore thead tr th.headerSortUp, #highscore thead tr th.headerSortDown {
    background: #acc8dd;
}

#highscore tbody tr {
    color: #555;
}
#highscore tbody tr td {
    text-align: center;
    padding: 15px 10px;
}
#highscore tbody tr td.lalign {
    text-align: left;
}
